/* h1 {
    background-color: purple;
    color: white;
    text-align: center;
}

p {
    background-color: brown
}

body {
    background-color: black;
} */

.bg-1-h1 {
    background-color: purple;
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 35px;
    letter-spacing: 2cap;
    text-decoration: underline dashed gold;
}

.bg-2-h1 {
    background-color: darkorange;
    color: white;
    text-align: center;
    /* padding: 30px; */
    
    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px; */

    padding: 20px 60px 20px 60px;
}

#pg-background {
    background-color: brown;
    color: white;
}

/* * {
    background-color: black;
    margin: 0;
    padding: 0;
} */