/* h1 {
    background-color: purple;
    color: white;
    text-align: center;
}

p {
    background-color: brown
}

body {
    background-color: black;
} */

.bg-1-h1 {
    background-color: purple;
}

.bg-2-h1 {
    background-color: blue;
}